/*index*/
header{
    background-color: rgba(0, 0, 0, 0.986);
    text-align: center;
    padding:10px;
    padding-top: 20px;
    
}
h1{
    font-family: 'Foldit', sans-serif;    
}
p{
    padding: 10px;;
}

    nav {
    background-color: #a3a3a302;
    padding: 10px;
}
nav ul {
    list-style:disc;
    margin:0;
    padding:0;   
}
nav li{
    display: inline;
    margin-right: 40px;
}
main{
    background-color: rgb(247, 236, 229);
}
a.nav-link {
    color: #000; 
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
    max-width: 100%;
}
.articulos{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    text-align: center;
}
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18rem, 1fr)); 
    gap: 20px; 
    margin: 20px;
}
.productos {
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center;
    border: 1px solid #ccc;  
    
    object-fit: cover;
    max-width: 100%;  
}
.productos img {
    width: 100%; 
    height: 70%; 
}
aside {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    border:1px solid #333;
}
footer{
background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
/*Contacto*/
.contacto {
    font-family: monospace;
    background-color: rgb(253, 250, 242);
    margin: 20px;
}
.formulario{
border: 1px solid #333;
background-color: rgb(250, 242, 221);
margin: 10px;

}
@media only screen and (max-width: 600px) {
    body{
    margin: 1px;
    padding: 0%;
    }
    .productos-grid {
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr)); 
    gap:20px;
    padding:1px;
    margin-left: 5%;
    }

    .productos {
    width: 100% ;    
    padding:1px; 
    margin: 10px; 
    gap: 10px;
    }
    .dropdown-menu {
    display: block;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    nav li {
        margin: 10px 0;
    }
    .dropdown-menu {
        width: 100%;
        text-align: left; 
    }
}
@media only screen and (max-width: 400px) {
    body{
        margin: 1px;
        padding:0%
    }
    .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
        gap:1 px;
        padding: 20px; 
    }
    .productos {
        width: 50% ;    
        padding:1px; 
        margin: 5px; 
        }
}
